.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 60px;
  padding: 0 var(--space-base);
}

.logo {
  flex: 0 0 auto;
  display: flex;
  gap: 8px;
  color: var(--color-text-alt);
  font-size: 24px;
  font-weight: var(--font-medium);
}

.menu {
  flex: 1;
}
