.header {
  flex: 0 0 auto;
  width: 100%;
  background: var(--color-primary);
  color: var(--color-text-alt);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 60px;
  padding: 0 var(--space-base);
}

.logo {
  flex: 0 0 auto;
  color: var(--color-text-alt);
  font-size: 24px;
  font-weight: bold;
}

.menu,
.activeMenu {
  flex: 0 0 auto;
  color: var(--color-text-alt);
}

.activeMenu {
  color: var(--color-success);
}

.inner {
  flex: 0 0 auto;
}

.space {
  flex: 1;
}
