:root {
  --font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;

  --font-micro: 10px;
  --font-tiny: 12px;
  --font-small: 14px;
  --font-base: 16px;
  --font-big: 18px;
  --font-bigger: 22px;
  --font-large: 26px;
  --font-title: 32px;

  --font-regular: 300;
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;
}

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
